body{
    background-color: #a9e2eb;
}

#heading {
    margin-left: 31%;
    font-family: leto;
    font-size: 40px;
}

.inner-container{
    background-color: #A6CFD5;
    position: absolute;
    width: 500px;
    top: 30%;
    left: 30%;
    padding: 15px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
    font-family: google sanas;
}

.form-control {
    background-color: #EBF2FA;
}


#emailHelp{
    font-family: roboto;
}


.btn-primary{
    margin-left: 40%;
    color: #F5F9E9;
    background-color: #516ef3;
    font-family: lato;
}

.btn-primary:hover{
    background-color: #4361EE;
}
